<!DOCTYPE html>
<html lang="en" ng-app="SkeletonApp">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="ETC..">
    <meta name="robots" content="noodp">
    <meta name="googlebot" content="noodp">
    <meta name="Slurp" content="noodp">
    <meta name="bingbot" content="noodp">

    <title>CheckMe Dashboard</title>
    <script src="/jquery/dist/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="/angular/angular.min.js"></script>
    <link rel="stylesheet" href="/angular-material/angular-material.min.css">
    <script src="/angular-animate/angular-animate.min.js"></script>
    <script src="/angular-aria/angular-aria.min.js"></script>
    <script src="/angular-messages/angular-messages.min.js"></script>
    <script src="/angular-material/angular-material.min.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>

    <script src="/chart.js/dist/Chart.min.js"></script>
    <script src="/angular-chart.js/dist/angular-chart.min.js"></script>

    <!-- Controller imports -->
    <script src="/controllers/MainController.js"></script>

    <!-- Styling imports -->
    <link rel="stylesheet" href="Base.css">
</head>
<body ng-controller="mainController">



<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <h2>
            <span>Meander Info dashboard</span>
        </h2>
        <md-button ng-click="toggle()">Menu</md-button>
        <span flex></span>
        <md-button ng-click="showdialogdepartment($event)">Voeg afdeling toe</md-button>
    </div>
</md-toolbar>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-padding>
            <md-button ng-click="close()" class="md-primary" hide-gt-md>
                Close Sidenav Left
            </md-button>
            <p hide show-gt-md>
                This sidenav is locked open on your device. To go back to the default behavior,
                narrow your display.
            </p>
        </md-content>
    </md-sidenav>

        <div ng-view></div>
</body>
</html>